<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                {% block navbar %}

                {% endblock navbar %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 bg h-auto">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} text-center mt-2 ml-2 mr-2">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
      {% block content %}

      {% endblock content %}
    </div> <!-- /container -->


   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#mytable').DataTable( {
        "pagingType": "full_numbers",
        "oLanguage": {
            "sSearch": "Szukaj",
            "oPaginate": {
                "sFirst":    "Pierwsza",
                "sLast":     "Ostatnia",
                "sNext":     "Następna",
                "sPrevious": "Poprzednia"
            },
            "sLengthMenu":   "Wyświetlaj _MENU_ pozycji",
            "sInfo":         "Wyświetlono od _START_. do _END_. z _TOTAL_ pozycji",
            "sZeroRecords":  "Brak danych do wyświetlenia",
            "sInfoEmpty":    "Wyświetlono od 0. do 0. z 0 pozycji",
            "sLoadingRecords": "Pobieram zawartość",
            "sInfoFiltered":   "(szukano dla _MAX_ pozycji)",
        }

        } );

    } );
    </script>
  </body>
</html>
