{% extends "layout_logout.html" %}

{% block content %}
<div class="row mr-0 content-wrap">
    <div class="col-xl-3 col-sm-1">

    </div>
    <div class="container col-xl-6 col-sm-10 bg">
        <div class="form p-2" style="height: auto;">
        <div class="login ml-3 mr-3">
            <div class="content-section">
                <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="text-center border-bottom mt-10 mb-10">Logowanie</legend>
                        <div class="form-group">
                            {{ form.login.label(class="form-control-label ml-2") }}

                            {% if form.login.errors %}
                                {{ form.login(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid feedback">
                                <span>Niepoprawny format adresu e-mail.</span>
                            </div>
                            {% else %}
                                {{ form.login(class="form-control form-control-lg") }}
                            {% endif %}


                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label ml-2") }}
                            {{ form.password(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-gruop text-center mt-2 mb-5">
                        {{ form.submit(class="btn") }}
                    </div>
                    <div class="text-right">
                        <small class="text-muted">
                            Zapomniałeś hasła? <a href="#" class="min ml-2 mb-1">Wygeneruj nowe</a>
                        </small>
                    </div>
                    <div class="text-right border-top">
                        <small class="text-muted">
                            Nie masz konta? <a href="{{ url_for('register') }}" class="min ml-2">Załóż teraz</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-3 col-sm-1">

    </div>
</div>
{% endblock content %}